@charset "UTF-8";

/* -----------------------------------
作品詳細ページ用css
-------------------------------------*/

/* 全体
-------------------------------------*/
#works{
	padding-bottom: 100px;
}

/* ヘッダー
-------------------------------------*/
#works-head{
	border-top: 5px solid #000;
	padding: 60px 0 20px 0;
}

.works-head-in{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 10px 0;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	position: relative;
}

.works-head-in h1{
	font-size: 18px; font-size: 1.8rem;
	font-weight: bold;
}

.works-head-in p{
	position: absolute;
	right:20px;
	top:-50px;
}


/* 全体の箱
-------------------------------------*/
#works-content{
	width: 1000px;
	margin:0 auto;
}

/* 左 - 作品画像
-------------------------------------*/
.w-top{
	width: 1000px;
	margin-bottom: 50px;
} 
  
/* 右 - 作品の解説
-------------------------------------*/
.goal{
	padding: 20px 10px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	overflow: hidden;
}

/* 制作目的 */
.goal h2{
	width: 30%;
	padding:0 10px;
	box-sizing:border-box;
	font-size: 16px; font-size: 1.6rem;
	float: left;
}

.goal p{
	width: 65%;
	padding:0 30px;
	border-left: 1px solid #ccc;
	box-sizing:border-box;	
	float: left;
}

/* 他項目 */
.w-bottom{
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.w-bottom dl{
	width: 47%;
	padding-bottom: 30px;
}

.w-bottom dl dt{
	padding: 5px 10px;
	border-left: 5px solid #666;
	font-size: 16px; font-size: 1.6rem;
}

.w-bottom dl dd{
	margin: 5px 0 0 0;
	padding: 10px;
	border-top: 1px solid #ccc;
}